<h1>New user</h1>


<%= form_for @user do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= f.fields_for :posts do |builder| %>
      <%= render "post_fields", :f => builder %>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>



<%= link_to 'Back', users_path %>
