<!DOCTYPE HTML>
	<html>
		<head>
			<title>Post Page</title>
		</head>

		<body>

		This is post page.
		<p>==============</p>

	    <table>
	 		<tr>
	    		<th>Post</th>
	    		<th>User</th>
			</tr>
			
			<% @posts.all.each do |post| %>
	  		<tr>
				<td><%= post.content %></td>
				<% if post.user %>
				<td><%= post.user.name %></td>
				<% end %>
	    	</tr>
	   		<% end %>
		</table>

		<p>==============</p>
		<%= link_to 'Show all users' , users_path %>
		
		<p>==============</p>
		<%= link_to 'Create a user' , new_user_path %>		

		<p>==============</p>
		<%= link_to 'Create a post' , new_post_path %>		

		</body>
	</html>




