<h1>Login</h1>


<%= form_tag user_sessions_path do %>

  <p>
    <%= label_tag :email , "Email Address" %><br />
    <%= text_field_tag :email %>
  </p>
	</br>
  <p>
    <%= label_tag :password , "Password"%><br />
    <%= password_field_tag :password %>
  </p>

  <p><%= submit_tag "Login" %></p>

  <%= link_to "Forget Password", new_password_reset_path %>


<% end %>


