<!DOCTYPE html>
<html>
<head>
  <title>Hometeach</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

`		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src=" <%= asset_path("js/skel.min.js") %>" ></script>
		<script src=" <%= asset_path("js/skel-panels.min.js") %>" ></script>
		<script src=" <%= asset_path("js/init.js") %>" ></script>
		<link rel="stylesheet" href=" <%= asset_path("css/skel-noscript.css") %> " />
		<link rel="stylesheet" href=" <%= asset_path("css/style.css") %>" />
		<link rel="stylesheet" href=" <%= asset_path("css/style-desktop.css") %>" />

</head>
<body>

<%= yield %>

</body>
</html>
